@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #E2BFD9;
  --secondary-color: #bd8be9;
  --text-dark: #C8A1E0;
  --white: #F7EFE5;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbf1fa;
  overflow-x: hidden;
}


nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  display: flex;
  max-width: 40px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__links a:hover {
  color: var(--text-dark);
}

.header__container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
}

.header__image {
  margin-top: 5rem;
  position: relative;
  isolation: isolate;
  animation: animate 2s infinite;
}

@keyframes animate{
	0%, 100%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-6px);
	}
}


.header__image::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 25rem;
  border-radius: 10px;
  z-index: -1;
}

.header__image img {
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
  display: flex;
}

.header__content {
  padding-block: 2rem;
  text-align: center;
}

.header__content h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 5rem;
  color: var(--text-dark);
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-dark);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.links h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.links ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links a {
  display: inline-block;
  padding: 16px 20px;
  font-size: 1.2rem;
  color: var(--text-dark);
  border-radius: 30px;
  box-shadow: 10px 10px 15px #d7dbe6, -10px -10px 15px var(--white);
}

.links a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 100px;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .hire__me {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #d7dbe6, -10px -10px 15px var(--white);
  }

  .hire__me:hover {
    color: var(--white) !important;
    background-color: var(--primary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 10px;
  }

  .header__image {
    margin-top: 0;
    grid-area: 1/2/2/3;
  }

  .header__content {
    padding-block: 1rem;
    text-align: left;
  }

  .links {
    justify-content: flex-start;
  }

  .links h4 {
    text-align: left;
  }
}


/*!*/
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.section__title span {
  color: var(--secondary-color);
}

.section__subtitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}



.service,
footer {
  background-color: var(--primary-color);
}

.service__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 5rem;
}

.service__card {
  display: grid;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--text-dark);
  border-radius: 20px;
}

.service__card i {
  font-size: 1.5rem;
}

.service__card h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.service__card p {
  color: var(--text-light);
}

.service__card .read__more {
  width: max-content;
  padding: 0.5rem 1rem;
  color: var(--text-light);
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}


.footer__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__details {
  font-size: 0.8rem;
  color: var(--text-light);
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.social__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 24px;
}

.social__icons .icon {
  padding: 1.5rem;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
}

.social__icons .icon:hover {
  background-color: var(--secondary-color-dark);
}

.footer__form {
  display: grid;
  gap: 1rem;
}

.footer__form :is(input, textarea) {
  padding: 1rem;
  background-color: #fbf1fa;
  outline:#1d0333;
  border: none;
  border-radius: 24px;
  color: var(--secondary-color);
}

.footer__form textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
}

.footer__form button {
  width: max-content;
  color: #7a0bd4;
  outline: auto;
}

/* Media queries */

@media (min-width: 640px) {
  .section__title {
    font-size: 2.5rem;
  }

  .header__container p {
    margin: 2rem 0;
  }

  .header__container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .action__btns {
    gap: 2rem;
  }

  .about__container {
    flex-direction: row;
  }

  .about__content {
    align-items: flex-start;
  }

  .about__details {
    text-align: left;
  }

  .service__grid,
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .header__container h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .service__grid,
  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

@keyframes fall {
  to {
      transform: translateY(100vh);
  }
}

.snowflake {
  position: absolute;
  background-color: #FFCCE1;
  border-radius: 50%;
  animation: fall linear infinite;
}

.nav__logo{
  color: var(--text-dark);
}

.contact__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact__left__title h2 {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 40px;
  margin-bottom: 5px;
}
.contact__left__title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact__left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #ff994f;

}.contact-inputs::placeholder{
  color: var(--secondary-color);
}

.contact__left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #E2BFD9;
  bottom: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #e659d7,#ff994f);
  cursor: pointer;
}

.contact__left button img {
  height: 15px;
}
.contact__right img {
  width: 500px;
}

@media(max-width:800px) {
  .contact-inputs {
      width: 80vw;
  }
  .contact__right {
      display: none;
  }
}